<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户登录</title>
<link rel="Stylesheet" type="text/css" href="layout.css" />
</head>
<body id="word"  background="111.png">
<h1>
用户登录 <a href="register_mvc.html">用户注册</a>
</h1>
<form name="f" method="post" action="login.action">
<!-- 表格名称定位f ，方法使用post，执行login.action  -->
<!--td tr 不用加结束也可以  -->
<table id="form">
<tr><td>用户名：<td><input type="text" name="username">
<tr><td>密码：<td><input type="password" name="password">
</td>
</table>
<input type="submit" value="登录">
<!-- 在点击登录之后，将表单传输到checklogin函数中进行判断 -->
<input type="reset" value="重置">

<!--  form要放在table之后，才能将submit reset table的数据一并发送过去 -->
</form>

</body>
</html>